/*
|--------------------------------------------------------------------------
| *************************************************************************
|                         Font Css Code
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

@font-face {
    font-family: 'Gandom';
    src: url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.eot?#iefix') format('embedded-opentype'),
    url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.woff') format('woff'),
    url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.ttf') format('truetype');
    font-weight: normal;
}


/*
|--------------------------------------------------------------------------
| Initial Css Codes
|--------------------------------------------------------------------------
|
|*/

html {
    scroll-behavior: smooth;
}

.main_body {
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    background: #3aff8d;
    width: 100%;
    height: 2000px;
}

.title_section {
    display: flow-root;
    width: 100%;
    height: 100vh;
}

.title_text {
    font-size: 55px;
    text-align: center;
    padding: 25px 0 25px 0px;
}

.title_description {
    text-align: center;
    margin-top: 310px;
    padding: 25px 0 25px 0px;
}

/*
|--------------------------------------------------------------------------
| *************************************************************************
|                         Absolute Header
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: transparent;
    padding: 25px;
    z-index: 1;
    transition: padding 0.7s, background 0.7s;
}

.bar {
    font-size: 13px;
    margin: 0px 0px 0px 2%;
    font-family: 'Imprint MT Shadow';
    text-decoration: none;
    color: antiquewhite;
}

.logo_span {
    float: left;
    /*width: 12%;*/
}

.nav_bar {
    margin-right: 10px;
    float: right;
    width: 69%;
    text-align: right;
}


/*
|--------------------------------------------------------------------------
| *************************************************************************
|                       Sections in Main Page
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/


/*
|--------------------------------------------------------------------------
| Services
|--------------------------------------------------------------------------
|
|*/


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.2
    }
    to {
        opacity: 1
    }
}

.service-section {
    width: 100%;
    background: #ffffff;
    display: inline-flex;
}

.container {
    margin: 10px 0;
    padding: 10px 0 80px 0;
    width: 90%;
    height: border-box;
    position: inherit;
    display: block;
}

.arrow-icon {
    height: 20%;
    margin: auto;
}

.prev, .next {
    background: rgba(0, 0, 0, 0.1);
    width: 5%;
    font-size: 50px;
    transition: 0.5s ease;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.3);
}

.slider {
    width: 100%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.tab-icon {
    text-decoration: none;
    font-family: Dosis, arial, sans-serif;
    width: 8%;
    min-width: 120px;
    height: inherit;
    padding: 10px 30px;
    display: grid;
}

.service-tab {
    display: inline-block;
}

.service-text {
    width: 92%;
    font-family: Dosis, Arial, sans-serif;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 2px;
}

.icon-style {
    margin: auto;
    width: 100%;
    font-size: 90px;
}


.list-icon > li {
    display: flex;
    font-size: 20px;
}

/*
|--------------------------------------------------------------------------
| Home Section
|--------------------------------------------------------------------------
|
|*/
.home_sectoin {
    display: flow-root;
    width: 100%;
    height: 100vh;
}

.content {
    font-family: 'Gandom';
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 35px;
    position: absolute;
    vertical-align: text-bottom;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#myVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

/*
|--------------------------------------------------------------------------
| Member About FAQ Section
|--------------------------------------------------------------------------
|
|*/

.flip {

    transform: rotate(-180deg);
    /*-moz-transition: transform 1s;*/
    /*-webkit-transition: transform 1s;*/
    transition: transform 1s;
}

.button {
    background: url('img/dropdown.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    float: left;
    margin-left: 10px;
}

#button {
    transform: rotate(-180deg);
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
}

.aboutUs_Title {
    font-size: 30px;
    text-align: right;
    padding: 20px 20px 20px 20px;
    color: darkgray;
}

/*.aboutUs_Text{*/
/*font-size: 20px;*/
/*text-align: center;*/
/*margin-top: 10px;*/
/*padding: 20px 20px 20px 20px;*/
/*width: 100%;*/
/*color: black;*/
/*}*/
.aboutUs_Textimg {
    text-align: right;
    margin-top: 20px;
    /*padding: 20px 20px 20px 20px;*/
    /*width: 350px !important;*/
    width: 100%;
    justify-content: center;
    display: inline-flex;
    max-width: 350px;

}

.flex-container {
    float: left;
    width: 100%;
    /*display: flex;*/
    margin-right: 25px;
    justify-content: center;
}

.about_background {
    background-image: url("img/2photoshop.jpg");
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

/*.about_company{*/
/*font-size: 20px;*/
/*text-align: center;*/
/*display: flex;*/
/*width: 100%;*/
/*justify-content: center;*/
/*color: black;*/
/*padding: 15px 85px 0px 85px;*/
/*}*/
.aboutus_content {
    margin-top: 15px;
    display: none;
    padding: 20px;
}

.members {
    display: flow-root;
    width: 100%;
    height: 400px;
}

* {
    box-sizing: border-box;
}

.members_containers {
    float: left;
    width: 100%;
    /*display: flex;*/
    margin-right: 25px;
    justify-content: center;
}

.img_container_img {
    /*display: flex;*/
    /*float: left;*/
    text-align: center;
    justify-content: center;
    margin: 20px;

}

.aboutUs_Text img {
    /*height: 200px;*/
    box-shadow: white 1px 1px 1px 1px;
    /*padding: 50px;*/
    width: 100%;
    height: auto;
    max-height: 167px;
}

.img_container_img img {
    /*border-radius: 50px;*/
    height: 200px;
    box-shadow: white 1px 1px 1px 1px;

}

div, p, label, input, select {
    font-family: 'Gandom';
}

.members_text img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    /*filter: gray();*/
    /*-webkit-filter: grayscale(1); !* Google Chrome, Safari 6+ & Opera 15+ *!*/
    /*filter: grayscale(1);*/
    transition: transform 2s, filter 0.8s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);
}

.members_text img:hover {
    /*filter: none;*/
    /*-webkit-filter: none; !* Google Chrome, Safari 6+ & Opera 15+ *!*/
    /*filter: none;*/
    filter: brightness(100%);
    transform: scale(1.05);
}


.members_text {
    font-size: 12px;
    color: darkgray;
    text-align: center;
    margin: 13px;
    padding: 5px;
    float: right;
    width: 196px;

}

.member_aboutus {
    display: flow-root;
    width: 100%;
    padding: 10px;
    height: auto;
}

.whyus{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.title_section2 {
    display: flow-root;
    width: 100%;
    height: 250px;
}

.title_description2 {
    float:  right;
    text-align: center;
    margin-top: 0px;
    padding: 25px 0 25px 0px;
}

.footer-text {
    text-align: center;
    margin-top: 150px;
    margin-right:20px;
    font-family: "Gandom";
    color: darkgray;
    font-size: 12px;
    direction: rtl;

}

.instagram {
    width: 45px;
    height: 45px;
    margin: 0 12px 0 0;
    position: relative;
    z-index: 1; /* matters! */
    background: linear-gradient(
            to bottom,
            transparent,transparent);

    float: right;
}
.instagram::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 42px;
    height: 45px;
    background: linear-gradient(to top , transparent 8%, #fdf497 6%, #fd5949 36%, #d6249f 55%, #285AEB 85%, transparent 90%);

    opacity: 0;
    transition: opacity 0.4s;
    z-index: -1;
}
.instagram:hover::before {
    opacity: 1;
}
.fa-instagram {
    margin: 0 4px 0 0;
    color: darkgray;
    font-size: 45px;
    transition: font-size 1s, color 1s;
    -webkit-transition: font-size 1s, color 1s;


}
.fa-instagram:hover{
    color: whitesmoke;
}
.fa-telegram {
    margin: 0 20px 0 0;
    color: darkgray;
    font-size: 45px;
    alignment: left;
    transition: font-size 1s, color 1s;
    -webkit-transition: font-size 1s, color 1s;
}

.fa-telegram:hover {
    margin: 0px 20px 0px 0;
    color: cornflowerblue;


}

.fa-twitter {
    margin: 0 20px 0 0;
    color: darkgray;
    font-size: 45px;
    alignment: left;
    transition: font-size 1s, color 1s;
    -webkit-transition: font-size 1s, color 1s;
}

.fa-twitter:hover {
    margin: 0px 20px 0px 0;
    color: royalblue;

}

.fa-linkedin {
    margin: 0 20px 0 0;
    color: darkgray;
    font-size: 45px;
    alignment: left;
    transition: font-size 1s, color 1s;
    -webkit-transition: font-size 1s, color 1s;
}

.fa-linkedin:hover {
    margin: 0px 20px 0px 0;
    color: blue;


}
.footer-image{
    font-size: 12px;
    text-align: center;
    color: wheat;
    width:100px;
    display:inline-block;
    margin:0 4  0px 0 0;
}
.email-phone{
    float: left;
    justify-content: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 40px;
}


/*
|--------------------------------------------------------------------------
| *************************************************************************
|                           Service Form
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/


.form-header {
    direction: rtl;

    margin-right: 200px;
    margin-top: 12px;

    color: white;
}

.form-header a {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;

    transition: color 0.2s ease-in-out;
}

.form-header:hover a {
    color: dodgerblue;
}

.form_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-image: url("img/img4.jpg");

    background-position: center top;
    background-size: cover;
    height: 100vh;
}

.form {
    direction: rtl;

    width: 375px;

    margin: 30px auto auto auto;
    padding: 20px;

    background-color: #ffffff90;
}

.form-title {
    padding: 0px 8px;

    font-size: 26px;
    font-weight: 600;
    color: black;
}

.form-collapse {
    padding: 8px;
}

.form-collapse-title {
    padding: 5px;

    font-size: 15px;
    font-weight: 600;

    color: black;
}

.form-control {
    outline: none;
    margin: 4px 0px;
    border: 1px solid;

    width: 100%;

    font-size: 14px;

    background-color: #fff0;
}

.form-collapse-block {
    height: 42px;

    border-color: #fff0 #fff0 black #fff0;
}

.form-collapse-block::placeholder {
    color: rgba(000, 000, 000, 0.8);

    transition: color 0.2s ease-in-out;
}

.form-collapse-block:focus::placeholder {
    color: rgba(000, 000, 000, 0);
}

.form-select {
    height: 42px;

    color: black;
    border-color: black;

    cursor: pointer;

    transition: color, background-color 0.4s ease-in-out;
}

.form-select:hover {
    background-color: black;
    color: white;
}


.form-textarea {
    height: 150px;

    line-height: 1.5;

    color: black;
    border-color: black;
}

.form-submit {
    align-items: center;

    outline: none;

    height: 38px;
    width: 100%;

    color: white;
    background-color: black;
    border: 1px solid black;

    transition: box-shadow 0.2s ease-in-out;
}

.form-submit:hover {
    box-shadow: black 0px 4px 12px 1px;
}

.form-submit:active {
    box-shadow: none;
}


/*
|--------------------------------------------------------------------------
| *************************************************************************
|                         Responsive Css Code
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

@media screen and (min-width: 300px) and (max-width: 450px) {
    .aboutUs_Text {
        font-size: 12px;
    }

    .about_company {
        padding: 0px;
        font-size: 12px;
    }

    .comp_img {
        width: 240px;
        height: 160px;
    }

}

@media screen and (min-width: 450px) {
    .aboutUs_Text {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        padding: 20px 20px 20px 20px;
        width: 100%;
        color: black;
    }

    .about_company {
        padding: 15px 85px 0px 85px;
        font-size: 20px;
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        color: black;
    }

    .comp_img {
        width: 450px;
        height: 350px;
        margin-right: 10px;
    }
}


