/*
=======================================================
NOTICE: bache ha code block e khodetoono berinin toosh
=======================================================
*/

/*
|--------------------------------------------------------------------------
| *************************************************************************
|                         Font Css Code
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/
@font-face {
    font-family: 'Gandom';
    src: url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.eot?#iefix') format('embedded-opentype'),
    url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.woff') format('woff'),
    url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.ttf') format('truetype');
    font-weight: normal;
}
/*
|--------------------------------------------------------------------------
| MAG CSS CODE !
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| Initial Css Codes ... GET THE Fu** Out oFF HERE Dude  !!!
|--------------------------------------------------------------------------
|
|*/

.main_body {
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  background: #3aff8d;
  width: 100%;
  height: 2000px;
}

.title_section {
  display: flow-root;
  width: 100%;
  height: 100vh;
}

.title_text {
  font-size: 55px;
  text-align: center;
  padding: 25px 0 25px 0px;
}

.title_description {
  text-align: center;
  margin-top: 310px;
  padding: 25px 0 25px 0px;
}

/*
|--------------------------------------------------------------------------
| *************************************************************************
|                         Absolute Header
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| Header Code (MAMMAD !)
|--------------------------------------------------------------------------
|
|*/

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: aquamarine;
}

/*
|--------------------------------------------------------------------------
| *************************************************************************
|                       Sections in Main Page
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| Rmin Css Code
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| Ali Css Code
|--------------------------------------------------------------------------
|
|*/
.home_sectoin {
  display: flow-root;
  width: 100%;
  height: 100vh;
}

.content {
  font-family: 'Gandom';
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  vertical-align: text-bottom;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#myVideo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}

/*
|--------------------------------------------------------------------------
| Melliww Css Code
|--------------------------------------------------------------------------
|
|*/
.aboutUs_Title{
    font-size: 30px;
    text-align: right;
    padding: 20px 20px 20px 20px;
    color: darkgray;
}
.aboutUs_Text{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
    width: 25%;
    color: black;


}

.flex-container {
    display: flex;
    justify-content: center;
}

.about_background{
    background-image: url("img/2photoshop.jpg");
    background-size: cover  ;
    width: 100%;
    height: 1010px;
    background-attachment: fixed;
}
.about_company{
    font-size: 20px;
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;

}
.members{
    display: flow-root;
    width: 100%;
    height: 400px;
}

* {
    box-sizing: border-box;
}

/*.members_containers {*/
/*height: auto;*/

/*}*/

.img_container_img{
    /*display: flex;*/
    /*float: left;*/
    text-align: center;
    justify-content: center;
    margin: 20px;

}

.aboutUs_Text img{
    /*height: 200px;*/
    box-shadow: white 1px 1px 1px 1px;
    /*padding: 50px;*/
    width: 100%;
    height: auto;
    max-height: 167px;
}
.img_container_img img {
    /*border-radius: 50px;*/
    height: 200px;
    box-shadow: white 1px 1px 1px 1px;

}

div, p {
    font-family: 'Gandom';
}

.members_text img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    filter: gray();
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}
.members_text img:hover{
    filter: none;
    -webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: none;
}
.members_text{
    font-size: 12px;
    color: darkgray;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 15%;
}
.member_aboutus{
    display: flow-root;
    width: 100%;
    padding: 70px;
    height: auto;
}

/*
|--------------------------------------------------------------------------
| MaMMAD Css Code
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| *************************************************************************
|                           Service Form
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| ALI_ALFA Css Code
|--------------------------------------------------------------------------
|
|*/

a {
    color: white;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;
}

.form-header {

    direction: rtl;
    margin-right: 200px;
    margin-top: 12px;
    color: white;
}

.form_section {

    background-image: url("img/img4.jpg");
    background-size: cover;
    display: flow-root;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 1010px;*/

}

.form {

    direction: rtl;
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 350px;*/
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px 20px 30px 20px;
    background-color: #ffffff38;
    /*background-color: rgba(000,000,000,0.5);*/
    /*border-radius: 15px;*/
}

.form-title {

    padding: 8px;

    /*text-align: right;*/
    /*text-transform: uppercase;*/
    font-size: 26px;
    font-weight: 600;
    color: black;
    transition: .25s ease;
}

.form-collapse {
    padding: 8px;
    opacity: 1;

}

.form-collapse-title {
    padding: 5px;
    text-align: right;
    /*text-transform: uppercase;*/
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.form-control {
    /*outline-style: solid;*/
    outline: none;
    margin-top: 8px;
    text-align: right;
    height: 28px;
    width: 100%;
    padding: 6px 0px;
    font-size: 12px;
    line-height: 1;
    color: black;
    background-color: #fff0;
    border: 1px solid black;
    border-top: #fff0;
    border-left: #fff0;
    border-right: #fff0;
    /*border-radius: 7px;*/
    /*box-shadow: black 0px 4px 12px 1px;*/
}

::placeholder {
    color: black;
}

.form-collapse-select {
    /*text-align: right;*/
    height: 42px;
    width: 100%;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1;
    color: black;
    background-color: #fff0;
    border: 1px solid black;
    /*border-radius: 7px;*/
    /*box-shadow: black 0px 4px 12px 1px;*/
}

.form-textarea {
    /*text-align: right;*/
    margin-top: 8px;
    height: 100px;
    width: 100%;
    padding: 0px 0px;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background-color: #fff0;
    border: 1px solid black;
    /*border-radius: 7px;*/
    /*box-shadow: black 0px 4px 12px 1px;*/
}

.form-submit {
    align-items: center;
    height: 38px;
    width: 100%;
    color: white;
    background-color: black;
    border: 1px solid black;
    /*border-radius: 7px;*/
    /*box-shadow: black 0px 4px 12px 1px;*/
}

/*
|--------------------------------------------------------------------------
| *************************************************************************
|                           Animations
| *************************************************************************
|--------------------------------------------------------------------------
|
|*/

/*
|--------------------------------------------------------------------------
| MAG Css Code
|--------------------------------------------------------------------------
|
|*/
